@import './headerItem.scss';
@import './middleItem.scss';
@import './footerItem.scss';

$container-bg-color: #fbfbfc;

.container {
  font-size: 0.9rem;
  background-color: $container-bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header,
.middle {
  padding: 1rem;
}

.user-info {
  display: flex;
  flex-direction: row;

  &__image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  &__text {
    font-weight: 600;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
  }

  &__icon {
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    font-size: 1.2rem !important;
  }
}

.submit {
  padding: 1rem;
  display: flex;

  &__text {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
  }
}
