$border-color: #d5d5d5;

.menu {
  padding: 1rem 0rem;
  border-bottom: 0.1px solid $border-color;

  &__item {
    display: flex;
    flex-direction: row;
  }

  &__text {
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-weight: 400;
  }
}
